# Python
__pychache__/
*.pyo
*.pyc
*.pyd
.venv/
.env
venv/

# dbt
dbt_packages/
target/
logs/

# PowerBI
*.pbix

# OS-specific files
.DS_Store
Thumbs.db

# Python virtual environments created by pyenv-virtualenv
.python-version

# Pseudo-Code for planning
pseudocode/

# pyproject artifacts
*.egg-info/

# Data
*.csv
*.zip